.container{
  width: 450px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000;
  display: flex;
  align-items: center;
}

.caja{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red{
  background-color: red;
  order: 3;
}

.blue{
  background-color: blue;
  order: 2;
}

.green{
  background-color: green;
  order: 1;
}

.text{
  color: #fff;
}