.container{
  border: 2px solid #000;
  display: flex;
  justify-content: space-between;
}

.caja{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}

.text{
  color: #fff;
}